MQTT_BROKER=tcp://meshnode-mqtt:1883
MQTT_USERNAME=your-mqtt-username
MQTT_PASSWORD=your-mqtt-password
BRIDGE_COMMUNITY_USER=your-community-bridge-username
BRIDGE_COMMUNITY_PASS=your-community-bridge-password
BRIDGE_GLOBAL_USER=your-global-bridge-username
BRIDGE_GLOBAL_PASS=your-global-bridge-password
BRIDGE_MESHNODEID_USER=your-meshnodeid-bridge-username
BRIDGE_MESHNODEID_PASS=your-meshnodeid-bridge-password
